[color]
  ui = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[color]
  ui = true
[color "diff"]
  whitespace = red reverse
[core]
  whitespace=fix,-indent-with-non-tab,trailing-space,cr-at-eol
  excludesfile = ~/.gitignore
[alias]
  amend = commit --amend --no-edit
  curr = symbolic-ref -q HEAD --short
  purr = pull --rebase
  fresh = "!fresh() { curr=`git curr`;git stash;git co master;git purr;git co $curr; git rebase master; };fresh"
  last = "!last() { git for-each-ref --sort=-committerdate refs/heads/; };last | sed -e 's/^.*refs\\/heads\\/\\(.*\\)$/\\1/g' | head -5"
  masterp = !git co master && git pull --rebase
  search = "log --all --grep"
  whoami = "!whoami() { echo \"`git config --get user.name` <`git config --get user.email`>\"; };whoami"
  tagq = "!tagq() { git log --before=$1 --tags --simplify-by-decoration --pretty='format:%ai %d' | grep 'tag:' | head -1 | sed -e 's/.*(tag: \\([v0-9\\.]*\\).*/\\1/g'; }; tagq"
  at = config user.email
  st = status
  ci = commit
  bl = blame
  br = branch
  co = checkout
  cpc = cherry-pick --continue
  df = diff
  dc = diff --cached
  ds = diff --staged
  l = !git --no-pager log
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files

  # Show files ignored by git:
  ign = ls-files -o -i --exclude-standard
[user]
  name = Kurt Ruppel
  useConfigOnly = true
[grep]
  extendRegexp = true
[push]
  default = current
